<div class="my-3 border-bottom">
    <div style="display: inline-block; margin-left: 3rem">
        <a href="#" style="text-decoration: none; color: black">
            <h1 style="font-family: 'Sansita Swashed', cursive;">Upbitrol</h1>
        </a>

    </div>

    <div style="float: right; margin-right: 3rem">
        {% if not user.is_authenticated %}
        <button class="btn btn-light" type="button" onclick="location.href=#">
            Log in
        </button>
        <button class="btn btn-light" type="button" onclick="location.href=#">
            Sign up
        </button>
        {% else %}
        <button class="btn btn-light" type="button" onclick="location.href=#">
            Log out
        </button>
        <button class="btn btn-light" type="button" onclick="location.href=#">
            My Page
        </button>
        {% endif %}
    </div>

</div>